:root {
  --branding-color: #ef3c3c;
  --secondary-color: #0f7bb1;
  --background-color: #fcf0ec;
  --heading-font-family-1: ivymode, sans-serif;
  --heading-font-family-2: futura-pt, sans-serif;
  --default-font-family: ballinger-mono, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.hero {
  background: #fcf0ec;
  padding: 160px 20px;
  text-align: center;
}

.home-title-container h2 {
  display: flex;
  flex-direction: column;
}

.home-title-container .home-title-word-1 {
  font-family: var(--heading-font-family-1);
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  color: #ef3c3c;
  letter-spacing: 6px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  left: -0.5em;
}

.home-title-line {
  white-space: nowrap;
}

.home-title-container .home-title-word-2 {
  font-family: var(--heading-font-family-2);
  font-weight: 400;
  font-style: normal;
  font-size: 210px;
  color: #ef3c3c;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  left: -0.05em;
  display: inline-block;
}

.home-title-container .home-title-and {
  font-family: var(--heading-font-family-2);
  font-weight: 100;
  font-style: normal;
  font-size: 35px;
  color: #ef3c3c;
  letter-spacing: -2px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  left: 0.2em;
  display: inline-block;
}

.home-title-container p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #0f7bb1;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-align: left;
  display: inline-block;
  position: relative;
  left: -1em;
  bottom: 4em;
  overflow-wrap: break-word;
}

.home-title-container .home-title-word-3 {
  font-family: var(--heading-font-family-1);
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  color: #ef3c3c;
  letter-spacing: 6px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  left: 0.6em;
  bottom: -0.5px;
}

.scroll-page p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #161c21;
  position: relative;
  top: 1.75em;
}

.scroll-logo {
  color: #0f7bb1;
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .home-title-container .home-title-word-1 {
    font-size: 48px;
    position: static;
  }
  .home-title-line {
    white-space: normal;
  }
  .home-title-container .home-title-word-2 {
    font-size: 48px;
    position: static;
  }
  .home-title-container .home-title-and {
    font-size: 12px;
    letter-spacing: 0;
    position: static;
  }
  .home-title-container p {
    font-size: 12px;
    letter-spacing: 0;
    position: relative;
    top: 6em;
  }
  .home-title-container .home-title-word-3 {
    font-size: 48px;
    position: relative;
    top: 1.5em;
  }
}
